.transaction-history {
  width: 600px;
  margin: 40px auto;
  border-collapse: collapse;
  box-shadow: 0 2px 15px rgba(64, 64, 64, 0.15);
}

.transaction-history th,
.transaction-history td {
  padding: 12px 15px;
  text-align: center;
  border: 1px solid #e5e5e5;
}

.transaction-history th {
  background-color: #f5f5f5;
  text-transform: uppercase;
  color: #333;
}

.transaction-history tr:nth-of-type(even) {
  background-color: #f9f9f9;
}
